.cover__subtitle {
  max-width: 360px;
  max-height: 66px;
  margin: 0 auto;
  padding-top: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle  {
    max-width: 288px;
    max-height: 48px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 114%;
 }
}