.photo-grid__item {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows:auto;
  gap: 16px;
  }
 
  @media screen and (max-width: 1279px) {
    .photo-grid__item {
      gap: 14px;
    }
  }
  @media screen and (max-width: 1023px) {
    .photo-grid__item {
      gap: 16px;
    }
  }
  @media screen and (max-width: 767px) {
    .photo-grid__item {
      gap: 12px;
    }
  }