.lead__title {
  margin: 0 auto;
  padding-top: 56px;
  max-width: 720px;
  max-height: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
 }
 
@media  screen and (max-width:767px) {
  .lead__title {
    padding-top: 48px;
    max-width: 288px;
    max-height: 88px;
    font-size: 40px;
    line-height: 110%;
  }
}
