.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  gap:18px;
  }

 @media screen and (max-width: 767px) {
  .footer__links {
  grid-template-columns:  repeat(4, 1fr);
  gap: 32px;
  }  
 }

 @media screen and (max-width: 750px) {
  .footer__links {
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  }  
}
  @media screen and (max-width: 730px) {
    .footer__links {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    }  
  }

  @media screen and (max-width: 720px) {
    .footer__links {
    grid-template-columns: 1fr;
    gap: 32px;
    }  
  }