.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
  top: 64px;
  right: 0;
  overflow: hidden;
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
