.intro {
  margin: 92px auto 0 148px;
  width: calc(100% - (148px + 442px));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}  

@media screen and (max-width: 1279px) {
  .intro {
  margin-left: 48px;
  width: calc(100% - (48px + 286px));
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 2*24px) ;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 64px auto 0 auto;
    width: calc(100% - 2*16px) ;
 }
}
